.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

img{
    border-radius: 10px;
    margin: 20px 0px;
}
h3 {
    font-size: 50px;
    padding-top: 40px;
}
body{
    background-color: lightgreen;
}
